.HeaderWrapper {
  display: flex;
  height: 46px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
}
.logoText {
  width: 95px;
  height: 22px;
  background-image: url('../../assets/img/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  &:hover {
    cursor: pointer;
  }
}

.PostProjectButton {
  // background-color: #000000 !important;
}

.connectBtn {
  border: 1px solid #000;
  border-radius: 4px;
}

.LoginedWrapper {
  display: flex;
  align-items: center;
  gap: 20px
}
